In [ ]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key
import json
import matplotlib.pyplot as plt
from config import weather_api_key
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [ ]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,0,Poum,-20.2333,164.0167,72.61,66,75,6.96,NC
1,1,Punta Arenas,-53.1500,-70.9167,44.71,53,40,23.02,CL
2,2,Beloha,-25.1667,45.0500,68.18,79,0,5.91,MG
3,3,Troitskoye,52.9821,84.6757,41.00,72,100,13.89,RU
4,4,Eastbourne,50.7687,0.2845,60.17,91,100,4.12,GB

In [ ]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [ ]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] >70) & (city_data_df["Max Temp"] <95)]
                        
clean_df

In [ ]:
# 4a. Determine if there are any empty rows.

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.

In [ ]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng", "Date"]].copy()

In [ ]:
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}